/* moderní box model */
html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: monospace;
}

h1 {
  text-align: center;
  font-family: sans-serif;
}

button {
  background-color: blue;
  color: aliceblue;
  border: none;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  font-size: 1.5rem;
}

.rodic {
  border: 2px solid blueviolet;
  text-align: center;
  margin-top: 2rem;
}

.pseudo {
  padding-bottom: 20rem;
}

/* ukázka */

p span {
  color: red;
}

p {
  color: green;
}

.trida {
  font-size: 2rem;
}

.skola {
  color: purple;
}

#identifikator {
  color: orange;
}

[href="http://www.google.com"]
{
  font-size: 3rem;
}

input:focus {
  background-color: blue;
}

button:hover {
  background-color: yellow;
}

a[href='#']:link {
  color: green;
}

a[href='#']:hover {
  color: red;
}

a[href='#']:active {
  color: indigo;
}

a[href='#']:visited {
  color: brown;
}

.dite:first-child {
  color: coral;
}

.dite:last-child {
  color: crimson;
}

.dite:nth-child(odd) {
  color: black;
}

.pseudo::first-letter {
  font-size: 3rem;
}

.pseudo::first-line {
  font-size: 2rem;
}

.pseudo::selection {
  background-color: cyan;
}

.pseudo::before {
  content: 'Obsah před';
  color: darkblue;
}

.pseudo::after {
  content: url(https://placekitten.com/200/300);
}
